*{
    margin: 0px;
    box-sizing: border-box;
}
.pedro{
    display: flex;
    justify-content: center;
    align-items: center;

}

.fileira1, .fileira2{
    margin: 7.5%;
}

body{
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.ptest{
    display: flex;
    justify-content: center;
    background-color: rgb(170, 170, 170);
    padding: +10px;
    border-radius: 4px;
    font-size: 200%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 180px;
    cursor: pointer;
    margin: 2rem;
    
}

.ptest:hover{
    transform: scale(1.03);
    background-color: rgb(123, 123, 123);
    color: rgb(0, 0, 0);
    transition: 100ms;
    transition-timing-function: ease-in-out;
}


.dialogodiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.definition{
    border: 1px solid black;
    background-color: white;
    padding: 2rem;
    /* margin: auto; */
    display: none;
    flex-direction: column;
    max-width: 20rem;
    border-radius: 15px;
    position: absolute;
    z-index: 2;
    
}

.obfuscate{
    background-color: black;
    opacity: 60%;
    position: absolute;
    height: 2000px;
    width: 100%;
    z-index: 1;
}

h1{
    margin: 0;
}

.button2{
    cursor: pointer;
}

.dialogobubble{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Paula{
    background-color: aquamarine;
    padding: 1rem;
    border-radius: 10px;
    width: 60%;
    float: left;
    margin: 1rem;
}

.Guilherme{
    background-color: bisque;
    padding: 1rem;
    border-radius: 10px;
    width: 60%;
    margin: 1rem;
    margin-left: auto;
}

/* .Guilherme h2,.Guilherme p{
    float: right;
} */